.result-box-container {
  flex: 3 1 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;

  .result {
    font-size: 30px;
    line-height: 32px;
    font-weight: 600;
    &.error {
      color: #ff5858;
    }
  }
}